:root {
  --main-bg-color: #333; /* 333 */
  --card-bg-color: #4a4a4a; /* 444 */
  --light-bg-color: #888; /* 888 */
  --highlight-color: #e36d30;
}

html,
body {
  background-color: var(--main-bg-color);
  color: var(--light-bg-color);
}

main {
  max-width: 1024px;
}

.navbar {
  background-color: var(--card-bg-color);
  /* box-shadow: 0 0 1em 0 #111; */
}

.card {
  color: #eee;
  background-color: var(--card-bg-color);
  border-radius: .5rem;
  /* box-shadow:
    inset 0 1px 0 #eee,
    0 0 1em 0 #111; */
}

.sub-card,
.active {
  background-color: var(--main-bg-color);
  border-radius: .5rem;
  /* box-shadow:
    inset 0 -1px 0 #bbb,
    inset 0 1px .5em black; */
}

.icon,
.active,
.nav-link.active,
.nav-item.active {
  color: var(--highlight-color);
}


.color-bar {
  color: var(--highlight-color);
  border: solid 1px;
  width: 100%;
}

/* .card-header {
  background-color: #666;
} */

/* .active {
  background-color: var(--main-bg-color);
  color: var(--highlight-color);
  border-radius: .25rem;
  box-shadow:
    inset 0 -1px 0 #bbb,
    inset 0 1px .5em black;
} */

::selection {
  background-color: var(--highlight-color);
}

.icon {
  font-size: 3em;
}

/* .grey-button:hover {
  background-color: #888;
  margin: .5em;
  box-shadow:
  inset 0 1px 0 #eee,
  0 .5em 1em 0 #111;
}

.grey-button:active {
  background-color: #333;
  border-radius: .25rem;
  box-shadow:
  inset 0 -1px 0 #bbb,
  inset 0 1px .5em black;
}  */
